.page {
  background-color: #a9e2f3;
  display: flex;
  flex-direction: row;
}
.favorite-section {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.search-section {
  width: 75%;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page__title {
  text-transform: uppercase;
}
.serie__container {
  font-size: 20px;
  color: #031769;
}
.favorite {
  background-color: #031769;
  color: #a9e2f3;
}
