body {
  background-color: #a9e2f3;
}
.page {
  background-color: #a9e2f3;
  display: flex;
  flex-direction: row;
}

/* FAVORITE SECTION*/
.favorite-section {
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.fav-title {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  background-color: #031769;
  color: white;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  line-height: 40px;
}
.fa-heart-o {
  margin-right: 10px;
  color: red;
}
.favorite-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border: 1px solid white;
  border-radius: 10px;
}
.favorite-item img {
  width: 100px;
  border-radius: 10px;
}
.favorite-item h3 {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  margin: 0 5px;
}
.cross-btn {
  background: none;
  outline: none;
  border: none;
}

.reset-btn {
  width: 60px;
  height: 40px;
  background-color: #cbd1ee;
  color: black;
  font-family: 'Fredoka One', cursive;
  margin-top: 10px;
  border-radius: 12px;
  outline: none;
  text-transform: capitalize;
}
.message {
  display: block;
  height: 60px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
/* SEARCH SECTION*/
.series-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.search-section {
  width: 75%;
  height: 100vh;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 30px;
}
.search-bar {
  width: 400px;
  height: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}
.search-btn {
  background-color: #cbd1ee;
  color: black;
  font-family: 'Fredoka One', cursive;
  text-transform: capitalize;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  margin-top: 30px;
  outline: none;
}
.page__title {
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  margin: 50px 0;
}
.fa-television {
  font-size: 40px;
}
.serie__container {
  width: 210px;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  color: #031769;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  text-align: center;
}
.serie__container img {
  width: 210px;
  height: 295px;
}
.favorite {
  background-color: #031769;
  color: white;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-align: center;
}
.fa-search {
  color: black;
  font-size: 15px;
}
.hidden {
  display: none !important;
}
